$main-font-stack: 'Montserrat', sans-serif;
$bold-font-stack: 'Montserrat Bold', sans-serif;
$extrabold-font-stack: 'Montserrat ExtraBold', sans-serif;
$medium-font-stack: 'Montserrat Medium', sans-serif;
$main-text-color: #18191d;
$main-bg-color: #ffff;
$margin-zero: 0;
$grey-text-color: #b9b9b9;
$orange-text-color: #ff6b08;