.page-nav {
  @include flex-center('spbetween');

  .nav {
    margin: 0;
    min-width: 196px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    .nav-menu {
      display: none;
    }

    .nav-btn {
      display: none;
    }

    .nav-burger {
      display: inline-block;
      background-color: $main-text-color;
      width: 24px;
      height: 2px;
      position: relative;
      cursor: pointer;

      &::before {
        @include insert-item('all');
        position: absolute;
        top: 5px;
      }

      &::after {
        @include insert-item('all');
        position: absolute;
        top: -5px;
      }
    }
  }
}

@media (min-width: 768px) {
  .page-nav {
    @include flex-center('spbetween');
    height: 90px;
    margin-top: 20px;

    .nav {
      min-width: 325px;
      display: flex;
      flex-direction: row;

      .nav-btn {
        display: inline-block;
        width: 252px;
        height: 50px;
        font-family: 'Tahoma' sans-serif;
        font-weight: bold;
        font-size: 11px;
        text-transform: uppercase;
        border: 2px solid #ff6b08;
        color: $orange-text-color;
        background-color: white;
      }
    }
  }
}

@media (min-width: 1280px) {
  .page-nav {
    @include flex-center('spbetween');
    height: 110px;

    .nav {
      min-width: 932px;

      .nav-menu {
        display: block;

        .nav-menu__link {
          text-decoration: none;
          font-family: 'Tahoma' sans-serif;
          font-weight: bold;
          font-size: 14px;
          line-height: 1.2;
          color: #b9b9b9;
          text-transform: uppercase;
          margin-right: 50px;

          &:hover,
          &:focus {
            color: $orange-text-color;
          }
        }
      }

      .nav-btn {
        font-family: 'Tahoma' sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.2;

        &:hover {
          opacity: 0.8;
        }
      }

      .nav-burger {
        display: none;
      }
    }
  }
}
