.section-choose {
  background: transparent;
  position: absolute;
  top: 5341px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

  .section-choose-text__name {
    display: inline-block;
    padding-right: 60px;
  }
}

@media (min-width: 768px) {
  .section-choose {
    top: 3484px;

    .section-choose-text_title {
      .section-choose-text__name {
        text-align: center;
        padding-left: 178px;
        padding-right: 0;
      }
    }
  }
}
