.section-major-issues {
  background-image: url(../../images/photos/bg2-black.png);
  background-size: 100% 518px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 518px;

  .section-magor-text {
    color: $main-bg-color;
    padding-top: 54px;

    .section-magor-text__name {
      font-family: $extrabold-font-stack;
      font-size: 20px;
      line-height: 30px;
      font-weight: 800;
      margin-top: 0;

      .section-magor-text__name-orange {
        color: $orange-text-color;
      }
    }
  }

  .text-description {
    background: white;
    width: 100%;
    min-height: 463px;
    position: absolute;
    max-width: 284px;
    z-index: 2;

    .text-description-major {
      font-family: $bold-font-stack;
      font-size: 13px;
      line-height: 20px;
      font-weight: 800;
      color: $main-text-color;
      padding-left: 30px;
      counter-reset: section;
      padding-right: 20px;
      box-shadow: 4px 6.928px 15.54px 5.46px rgba(29, 29, 27, 0.04);

      .text-description-magor__item {
        @extend %list;

        .list-item__text {
          margin: 4px 0;

          .list-item__text-t1 {
            display: none;
          }
        }
      }

      .text-description-magor__item::before {
        counter-increment: section;
        content: '\2014   'counter(section, decimal-leading-zero);
        font-size: 14px;
        line-height: 29px;
        width: 25px;
        height: 2px;
        color: $orange-text-color;
      }

      .list {
        @extend %list;
      }
    }
  }
}

@media (min-width: 768px) {
  .section-major-issues {
    background-image: url(../../images/photos/bg2-black_tablet.png);
    background-size: 100% 333px;
    background-position: top;
    min-height: 333px;

    .section-magor-text {
      padding-top: 25px;
      width: 688px;

      .section-magor-text__name {
        padding-right: 236px;
        font-size: 26px;
        line-height: 33px;
      }

      .text-description {
        max-width: 688px;
        min-height: 311px;

        .text-description-major {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 30px;
          padding: 38px 80px;

          .text-description-magor__item {
            .list-item__text-t1 {
              display: inline;
            }
          }
        }
      }
    }
  }
}
