.section-reviews {
  width: 100%;
  max-height: 632px;

  .section-reviews-text {
    font-family: $extrabold-font-stack;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #111517;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .section-reviews-wrapper {
    @include flex-center($type: 'column');

    .section-reviews-wrapper__card {
      width: 100%;
      height: 394px;
      box-shadow: 4px 6.928px 34.96px 11.04px rgba(29, 29, 27, 0.09);
      padding: 20px 16px 50px;

      .section-reviews-inner-image {
        @include flex-center($type: 'column');
        align-items: center;

        .section-reviews-inner-image__img {
          width: 80px;
          height: 80px;
          margin-bottom: 22px;
        }

        .section-reviews-inner-image__svg {
          width: 25px;
          height: 14px;
        }
      }

      .section-reviews-inner-text {
        .section-reviews-inner-text__name {
          font-family: $extrabold-font-stack;
          font-size: 13px;
          line-height: 29px;
          color: $orange-text-color;
          text-align: center;
          font-weight: 800;
          margin: 0;
        }

        .section-reviews-inner-text__desc {
          font-family: $medium-font-stack;
          font-size: 11px;
          line-height: 17px;
          color: #858585;
          margin: 0 0 22px;
          text-align: center;
        }

        .section-reviews-inner-text__excerpt {
          margin: 0;
          font-family: $medium-font-stack;
          font-size: 11px;
          line-height: 20px;
          color: $main-text-color;
          text-align: center;

          &-tab {
            display: none;
          }

          &-link {
            color: $orange-text-color;
          }
        }
      }
    }

    .section-reviews-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 10px;
      padding: 14px 46px 52px;
      position: relative;

      .section-reviews-list__item {
        display: flex;
        justify-content: center;

        &-img:nth-last-child(3) {
          margin: 0;
        }

        &-hidden {
          display: none;
        }

        .section-reviews-list__ctrl-prew,
        .section-reviews-list__ctrl-next {
          position: absolute;
          top: 37px;
          width: 24px;
          height: 20px;
          border: none;
          background-color: transparent;

          &::before {
            content: '';
            --s: 12px;
            --bd: 2px solid #ff6b08;
            width: var(--s);
            height: var(--s);
            border-left: var(--bd);
            border-top: var(--bd);
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
          }

          &::after {
            content: '';
            display: inline-block;
            width: 18px;
            height: 2px;
            background-color: #ff6b08;
            display: flex;
            margin: auto;
          }
        }

        .section-reviews-list__ctrl-prew {
          left: 0;
        }

        .section-reviews-list__ctrl-next {
          transform: rotate(180deg);
          right: 0;
        }
      }
    }
  }
}
